body{
    background-image:url("https://pm1.narvii.com/6815/4b97eb1999918fef7db18b1d59bf16f988307e8fv2_hq.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

@media only screen and (max-width: 767px) {
    body {
    min-width: 100%;
    min-height: 100%;
    }
  }
.Previous {
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 40%;
  width: 100px;
  height:70px;
  background-color: lightcoral;
  border-radius: 12px;

}
.Next{
  cursor: pointer;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100px;
  height:70px;
  background-color: lightcoral;
  border-radius: 12px;
}

    
.pokedox{
   font-size:4em;
   text-align: center;      
   
}