
.pokecard{
    height:400px;
    width: 300px;
    padding: 20px ;
    margin: 5px;
    display: inline-flex;
    margin-left: 20vh;
    margin-bottom: 5vh;
    align-items: center;
    justify-items: center;
    
}
@media screen and (max-width: 600px) {
    .pokecard {
      width: 100%;
      display: inline-flex;
      margin-left: 50px;
    }
  }
  @media screen and (max-width: 992px) {
    .pokecard {
      width: 50%;
    }
  }

.pokecard:hover{
    box-shadow: 0 30px 40px rgba(247, 4, 4, 0.952),0 10px 10px rgba(243, 4, 96, 0.22);
}
.text{
    font-family: Pokemon;
    justify-items: center;
}