/* .container{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left:150px ;
    margin-left: 500px;
    margin-top: 20px;
    margin-right: 500px;
    margin-bottom: 20px;
    justify-items: center;
    height: 500px;
    
} */
.container{
    
    width:1000px;
    margin:auto;
    background-color:rgba(236, 232, 232,0.8);
    border: 1rem black solid;
    display: block;
    text-align: center;


    
}
*{
    font-family: cursive;
}
@media screen and (max-width: 600px) {
    .container {
      width: 100%;
      height: 100%;
      margin-left: -1px;
      
      
    }
  }
  @media screen and (max-width: 992px) {
    .container {
      width: 100%;
      height: 100%;
    }
  }


.image{
    width: 190px;
    height: 200px;

}